<!DOCTYPE html>
<html>
<head>
	<title>Form binding</title>
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>

</head>
<body>
<div id="formbind">
	<input v-model="name" placeholder="enter name"/>
	<h3>My name is :{{name}}</h3>
	<textarea v-model="message" placeholder="add message"></textarea>
	<h3>My message is :{{message}}</h3>

	<input type="checkbox" id="checkbox" v-model="checked"/>{{checked}}
</div>
<script type="text/javascript">
	var vm=new Vue({
		el:'#formbind',
		data:{
			name:'',
			message:'',
			checked:false
		}
	});
</script>
</body>
</html>